* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

@font-face {
  font-family: qatar1;
  src: url(../assets/fonts/ArabicMedium.ttf); }

@font-face {
  font-family: qatar2;
  src: url(../assets/fonts/Qatar2022Arabic-Bold.ttf); }

@font-face {
  font-family: qatar3;
  src: url(../assets/fonts/Qatar2022Arabic-Heavy.ttf); }

@font-face {
  font-family: qatar1;
  src: url(../assets/fonts/ArabicMedium.ttf); }

@font-face {
  font-family: qatar2;
  src: url(../assets/fonts/Qatar2022Arabic-Bold.ttf); }

@font-face {
  font-family: qatar3;
  src: url(../assets/fonts/Qatar2022Arabic-Heavy.ttf); }

.hero {
  background-image: url(../assets/img/indeximg.jpg);
  height: 100vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover; }

.ti {
  background-color: white;
  border-radius: 20px 20px 20px 20px; }

.titulo {
  font-family: qatar1;
  color: #56042C;
  background-color: white;
  border-radius: 20px 20px 20px 20px; }

.subtitulo {
  font-family: qatar3;
  color: white;
  font-size: 1.5rem; }
  .subtitulo:hover {
    color: #56042C; }

@font-face {
  font-family: qatar1;
  src: url(../assets/fonts/ArabicMedium.ttf); }

@font-face {
  font-family: qatar2;
  src: url(../assets/fonts/Qatar2022Arabic-Bold.ttf); }

@font-face {
  font-family: qatar3;
  src: url(../assets/fonts/Qatar2022Arabic-Heavy.ttf); }

.navbar__list {
  justify-content: end; }

.navtitle {
  font-family: qatar3;
  color: white;
  font-size: 2rem; }

.navbar-custom {
  background-color: #56042C;
  color: white;
  font-family: qatar2;
  overflow: hidden; }

.nav-link {
  color: white !important; }

.dropfont {
  font-family: qatar1 !important;
  color: #56042C !important; }

.logonav {
  height: 200px;
  padding: 25px; }

@font-face {
  font-family: qatar1;
  src: url(../assets/fonts/ArabicMedium.ttf); }

@font-face {
  font-family: qatar2;
  src: url(../assets/fonts/Qatar2022Arabic-Bold.ttf); }

@font-face {
  font-family: qatar3;
  src: url(../assets/fonts/Qatar2022Arabic-Heavy.ttf); }

.heroe {
  background-image: url("../assets/img/hero.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 80vh; }

.heroe__title {
  background-color: white;
  font-family: qatar2;
  color: #56042C;
  font-size: 3rem;
  border-radius: 20px 20px 20px 20px; }

.presentacion__titulo {
  font-family: qatar2;
  font-size: 3rem;
  color: #56042C; }

.presentacion__sub {
  font-family: qatar1;
  font-size: 2rem;
  color: #56042C; }

@font-face {
  font-family: qatar1;
  src: url(../assets/fonts/ArabicMedium.ttf); }

@font-face {
  font-family: qatar2;
  src: url(../assets/fonts/Qatar2022Arabic-Bold.ttf); }

@font-face {
  font-family: qatar3;
  src: url(../assets/fonts/Qatar2022Arabic-Heavy.ttf); }

.imginicio {
  background-image: url("../assets/img/pronosticador.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 60vh; }

.explicacion {
  font-family: qatar3;
  color: #56042C;
  padding: 15px; }

.tituloGrupo {
  font-family: qatar2;
  color: #56042C; }

.grupo {
  display: grid;
  grid-template-areas: "pais1 g1 g2 pais2" "pais3 g3 g4 pais4" "pais5 g5 g6 pais6" "pais7 g7 g8 pais8" "pais9 g9 g10 pais10" "pais11 g11 g12 pais12";
  grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 10px; }
  .grupo__fila {
    background-color: #56042C;
    font-family: qatar1;
    color: white; }

.indicador {
  width: 30px;
  height: 30px; }

.orden {
  display: grid;
  grid-template-areas: "cabeza1 pts gfs gcs df" "clasi1 pts1 gf1 gc1 df1" "clasi2 pts2 gf2 gc2 df2" "ter pts3 gf3 gc3 df3" "cuar pts4 gf4 gc4 df4";
  grid-template-columns: 1fr repeat(4, 0.5fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px; }

@font-face {
  font-family: qatar1;
  src: url(../assets/fonts/ArabicMedium.ttf); }

@font-face {
  font-family: qatar2;
  src: url(../assets/fonts/Qatar2022Arabic-Bold.ttf); }

@font-face {
  font-family: qatar3;
  src: url(../assets/fonts/Qatar2022Arabic-Heavy.ttf); }

.heroealternativo {
  background-image: url("../../assets/img/heropronosticonormal.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }

.subtituloSeccion {
  font-family: qatar2;
  color: #56042C;
  font-size: 3rem; }

.textoSeccion {
  font-family: qatar2;
  color: #56042C;
  font-size: 1.5rem; }

.listaSeccion {
  font-family: qatar2;
  color: #56042C;
  font-size: 1.5rem;
  list-style: none; }

.contenedorPredictor {
  background-color: #56042C; }

.tituloseccion {
  font-family: qatar2;
  color: white;
  font-size: 2rem; }

.listaCandidatos {
  font-family: qatar2;
  color: white;
  font-size: 1.5rem; }

.botonCargaData {
  background-color: white;
  color: #56042C;
  font-size: 1rem;
  padding: 5px;
  margin-top: 20px; }

.imagenCampeon {
  height: 30vh;
  border-radius: 15px 15px 15px 15px;
  padding: 10px; }

.titulocampeon {
  font-family: qatar2;
  color: white;
  font-size: 2rem; }

.textoBorrar {
  font-family: qatar2;
  color: white;
  font-size: 1.5rem;
  padding: 10px;
  margin-top: 20px; }

.botonBorrar {
  background-color: white;
  font-family: qatar2;
  color: #56042C;
  font-size: 1rem;
  padding: 5px;
  margin-top: 20px;
  width: 100px;
  height: 60px; }
