@import "./responsive";
@import "./variables";

.estadistica{


    &__hero{
    background-image: url("../../assets/img/estHero.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 40vh; 
    }

    &__titulo{
        font-family: $font-bold;
        color: $color-qatar;

        &--t{
            font-size: 3rem;
        }

        &--s{
            font-size: 1.5rem;
        }

    }
}

.escudo{
    height: 60vh;
    padding: 20px;
}

.plantel {
    height: 50vh;
}