@import "./responsive";
@import "./variables";

.hero{
    background-image: url(../assets/img/indeximg.jpg);
    height: 100vh;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.ti{
    background-color: white;
    border-radius: 20px 20px 20px 20px;
}

.titulo{
    font-family: $font-normal;
    color: $color-qatar;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
}

.subtitulo{
    font-family: $font-heavy;
    color: white;
    font-size: 1.5rem;
    
    &:hover{
    color: $color-qatar;
    }
}