@import "./responsive";
@import "./variables";

.navbar__list{
    justify-content: end;

}

.navtitle{
    font-family: $font-heavy;
    color: white;
    font-size: 2rem;
}

.navbar-custom {
    background-color: $color-qatar;
    color: white;
    font-family: $font-bold;
    overflow: hidden;
}

.nav-link {
    color: white !important;
}

.dropfont{
    font-family: $font-normal !important;
    color: $color-qatar !important;
}

.logonav{
    height: 200px;
    padding: 25px;
}



