@font-face {
    font-family: qatar1;
    src: url(../../assets/fonts/ArabicMedium.ttf);
}

@font-face {
    font-family: qatar2;
    src: url(../../assets/fonts/Qatar2022Arabic-Bold.ttf);
}

@font-face {
    font-family: qatar3;
    src: url(../../assets/fonts/Qatar2022Arabic-Heavy.ttf);
}


$font-bold: qatar2;
$font-normal: qatar1;
$font-heavy: qatar3;
$color-qatar: #56042C

